.slick-next{
    right: 10px!important;
  }

  .slick-prev{
    left: 10px!important;
    z-index: 30000;
  }

  @media only screen and (min-width: 1920px){
    .slick-next{
      right: 15%!important;
    }
  
    .slick-prev{
      left: 15%!important;
      z-index: 30000;
    }
  }

  .background_img{
   width: 100%;
  height: 100%;
  object-fit: cover
  }

  .categorycmsblock-image img{
      margin: 0 auto;
  }