.slick-next {
  right: 10px !important;
  content: url("../../../assets/images/catalog/homepage/flower-prev-3.png");
  display: inline-block;
  transform: translateY(-15px) rotate(180deg);
  width: 70px;
  height: 30px;
}

.slick-prev {
  left: 10px !important;
  z-index: 990;
  content: url("../../../assets/images/catalog/homepage/flower-prev-3.png");

  display: inline-block;
  width: 70px;
  height: 30px;
}

.slick-dots {
  z-index: 100;
}



.background_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categorycmsblock-image img {
  margin: 0 auto;
}
