body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:global .main-content,
:global #common-home {
  padding-bottom: 400px;
}


:global  .fa-zalo:before{
  content: "Z";
  font-weight: 600;
}

:global .main-image {
  height: 500px !important;
  width: inherit !important;
  margin: 0!important;
}

:global .slider-item.small_image{
  width: 40px!important;
  height: 40px!important;

  a{
    width: 40px!important;
  height: 40px!important;
  }
  img{
    width: 40px!important;
  height: 40px!important;
  }
}

:global .slider-item.related_product_image{
  width: 400px!important;
}

