.filterBtn{
    color: #666;
    line-height: 1.12;
    text-align: left;
    padding: 3px 20px 3px 6px;
    position: relative;
    height: 42px;
    border: none;
    border-radius: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    display: inline-block
}
.dropdownContainer{
    display: flex;
}